@if (ShowAlert)
{
    <div class="container align-items-center" id="DismissableAlertContainer" style="border-color: @color;">
        <div class="row mt-2 mb-2 align-middle">
            <div class="col">
                @ChildContent
            </div>
            <div class="col-2">
                <button type="button" class="btn-close btn-close-white" @onclick="DismissAlert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public string Style { get; set; } = "danger";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string color = "red";

    private bool ShowAlert = true;

    private void DismissAlert()
    {
        ShowAlert = false;
    }

    protected override void OnInitialized()
    {
        if (Style == "danger")
        {
            color = "red";
        }
        else if (Style == "warning")
        {
            color = "yellow";
        }
        else if (Style == "success")
        {
            color = "green";
        }
    }
}
