<div class="row d-flex justify-content-center align-items-center">
    <Card Style="@Style" TextAlignment="Alignment.Center">
        <CardBody Class="align-items-center">
            <CardTitle Size="HeadingSize.H4">@Title</CardTitle>
            @ChildContent
        </CardBody>
    </Card>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Width { get; set; }

    public string Style => "width: " + Width ?? "400px" + "; margin: auto;";
}
