@inherits LayoutComponentBase
<NavStickyBar />
<div class="container-fluid px-3" >
    
    @Body
    <Toasts class="p-3" AutoHide="true" Delay="6000" Placement="ToastsPlacement.BottomRight" />
</div>
<Footer />

